<h1>Create a new cat</h1>
<form action="/cats" method="post">
  <label>
    Name
    <input type="text" name="cat[name]" value="<%= @cat.name %>">
  </label>
  <label>
    Color
    <input type="text" name="cat[color]" value="<%= @cat.color %>">
  </label>
  <label>
    Owner id
    <input type="text" name="cat[owner_id]" value="<%= @cat.owner_id %>">
  </label>
  <input type="submit" value="submit">


</form>
